* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: 3.5rem;
}
p, b, li {
    font-size: 1.8rem;
}
header {
    background-color: rgba(160, 158, 158, .3);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(33, 37, 41)
}
.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(33, 37, 41)
}
.nav-link.active::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #133c3d;
    transition: .3s;
}
.nav-link::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #C7FBFC;
    transition: .3s;
}
.nav-link:hover::after{
    width: 100%;
    transition: .3s;
}
